doctype html
html(lang='en')
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		title Jaffa | template

		// Mobile Specific Meta 
		meta(name="viewport" content="width=device-width, initial-scale=1 user-scalable=no")
		// Favicon Icon
		link(rel="shortcut icon" href="images/favicon.ico")
		// CSS Stylesheets 
		link(media="all" type="text/css" rel="stylesheet" href="libraries/animate.css-3.7.0/animate.min.css")
		link(media="all" type="text/css" rel="stylesheet" href="libraries/swiper-4.5.0/swiper.min.css")
		link(media="all" type="text/css" rel="stylesheet" href="css/style.css")
	body
		.app
			header.header
				.container
					.top-panel
						.widget-logo
							img.logo-image(src="images/theme/logo.svg?v.1" alt="Jaffa Logo" width="186")
						.widget-lang
							a.lang-link
								span ua
								i.icon-arrow-down
							.lang-menu
								.lang-item
									a.item-link(href="#") ru
								.lang-item
									a.item-link(href="#") en
						.widget-search
							i.search-icon
						.widget-menu
							.menu-icon
								.line
								.line
								.line
							nav.menu-dropdown
								ul.menu-list
									each val, index in {'О компанії':'#','Продукти':'#','Новини та Рецепти':'#','Kонтакти':'#','faq':'#'}
										li.menu-item
											a.menu-link(href=val)=index

			main.content
				section.section.section-intro
					.container
						.intro-slider#intro-carousel
							// Swiper 
							.swiper-container
								.swiper-wrapper
									.swiper-slide
										.slogan.position.top.center Смак, який заряджає!
										.intro-slide(style="background-image: url('images/media/banana1.jpg');")
									.swiper-slide
										.slogan.position.top.center Смак, який заряджає!
										.intro-slide(style="background-image: url('images/media/banana1.jpg');")
								// Add Arrows 
								.button-prev
								.button-next
					.slide-down
						.slide-down-icon
							svg.mouse-icon(viewBox="0 0 37 58" fill="none" xmlns="http://www.w3.org/2000/svg")
								<path d="M2.12939 15.0258C2.31616 13.3559 2.74716 11.7294 3.47985 10.1756C4.81594 7.35845 6.87036 5.23831 9.65747 3.84424C11.8843 2.7406 14.2404 2.23234 16.6827 2.07261C16.8408 2.05809 16.9844 2.01452 17.1425 2C18.0475 2 18.9526 2 19.8577 2C20.9209 2.14522 21.9984 2.23234 23.0471 2.43565C25.9492 2.97294 28.5639 4.13467 30.7045 6.21125C32.9744 8.41853 34.2818 11.1486 34.7559 14.2852C34.9139 15.3018 34.9714 16.3473 34.9714 17.3783C34.9857 20.7764 34.9857 24.1889 34.9857 27.587" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M35 30.2445C35 30.3461 35 30.1573 35 30.2445" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M35 32.9164C35 35.5884 35 38.2458 35 40.9178C35 43.3429 34.569 45.6663 33.5346 47.8591C32.1985 50.6618 30.1728 52.7819 27.3857 54.1469C24.2107 55.7153 20.8202 56.1073 17.3291 55.9766C14.6857 55.875 12.1141 55.3813 9.71484 54.205C6.43927 52.5931 4.22682 50.0228 2.94819 46.5957C2.2586 44.737 2 42.7911 2 40.8016C2 33.2794 2 25.7573 2 18.2496" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M16.3233 16.1876C16.3233 16.9572 16.3089 17.7269 16.3233 18.511C16.352 19.8325 17.2571 20.7909 18.4783 20.8054C19.7282 20.82 20.6764 19.8615 20.6907 18.511C20.7051 17.0008 20.7051 15.4905 20.6907 13.9803C20.6764 12.6588 19.7569 11.7004 18.5357 11.6859C17.2858 11.6714 16.352 12.6443 16.3233 13.9803C16.3089 14.7209 16.3233 15.447 16.3233 16.1876Z" stroke="white" stroke-width="3" stroke-miterlimit="10"/>
							.arrow-down
								<svg class="down-icon" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.29289 27.7071C7.68342 28.0976 8.31658 28.0976 8.70711 27.7071L15.0711 21.3431C15.4616 20.9526 15.4616 20.3195 15.0711 19.9289C14.6805 19.5384 14.0474 19.5384 13.6569 19.9289L8 25.5858L2.34315 19.9289C1.95262 19.5384 1.31946 19.5384 0.928932 19.9289C0.538408 20.3195 0.538408 20.9526 0.928932 21.3431L7.29289 27.7071ZM7 0L7 27H9L9 0L7 0Z" fill="white"/>
								</svg>

				section.section.section-vitamins
					.container
						.grid
							.column
								.slogan Почни свій день здорово!

								mixin element(symbol, desc, modifier)
									.list-item(class= modifier)
										.element-symbol= symbol
										.element-describe= desc

								.elements-list
									+element('C', 'Вітамін С', 'elem--c')
									+element('D', 'Вітамін D', 'elem--d')
									+element('E', 'Вітамін E', 'elem--e')
									+element('K', 'Калій', 'elem--k')
									+element('Ca', 'Каліций', 'elem--ca')
									+element('A', 'Вітамін A', 'elem--a')

								a.button.button--outline(href="#") хапай!

							.column

								.slider#smuzi-slider
									.swiper-container
										.swiper-wrapper
											.swiper-slide
												img.slide-image(src="images/media/slider/smuzi-jaffa-banan-yabloko-chernika-klubnika-zlaki.png")
											.swiper-slide
												img.slide-image(src="images/media/slider/smuzi-jaffa-grusha-yabloko-zlaki.png")
											.swiper-slide
												img.slide-image(src="images/media/slider/smuzi-jaffa-mango-banan-guava-marakuya.png")
											.swiper-slide
												img.slide-image(src="images/media/slider/smuzi-jaffa-yabloko-chernika-chernoplodryabina-malina.png")
										.pagination

				section.section.section-slider
					.section-body
						.container

							.slider#slider-filter
								// Swiper 
								.swiper-container
									// Add Pagination 
									.filter-buttons
										//- .filter-item.slide-1.active зарядись
										//- .filter-item.slide-2 освіжись
										//- .filter-item.slide-3 носолодись
										//- .filter-item.slide-4 оздоровись

									// Swiper Slides 
									.swiper-wrapper
										.swiper-slide
											img.slide-image(src="images/media/slider/be2d60eee9c6ccdfd058dc2f484894bd.png"
												alt="be2d60eee9c6ccdfd058dc2f484894bd.png")
										.swiper-slide
											img.slide-image(src="images/media/slider/be2d60eee9c6ccdfd058dc2f484894bd.png"
												alt="be2d60eee9c6ccdfd058dc2f484894bd.png")
										.swiper-slide
											img.slide-image(src="images/media/slider/be2d60eee9c6ccdfd058dc2f484894bd.png"
												alt="be2d60eee9c6ccdfd058dc2f484894bd.png")
										.swiper-slide
											img.slide-image(src="images/media/slider/be2d60eee9c6ccdfd058dc2f484894bd.png"
												alt="be2d60eee9c6ccdfd058dc2f484894bd.png")
									// Add Arrows 
									.button-prev
									.button-next
					.section-footer
						.container
							a.button.button--yellow(href="#") хапай!

				section.section.section-promo
					.section-body
						.container

							.widget-promo
								.image-wrap
									img.promo-image(src="images/media/izitonic.png")
								.caption
									h3.slogan Готуйся до нових перемог!
									a.button.button--outline(href="#" target="_blank") хапай!

				section.section.section-news
					.section-header
						.container
							h2.section-title Новини та рецепти
							// Add Arrows 
							.button-next
					.section-body

						mixin news(title, desc, date, imgPath)

							- var path = 'images/media/news/'

							article.article-widget
								.article-image(style="background-image: url(" + path + imgPath + ");")
									img.placeholder(src="images/theme/placeholder-news.png")
								.article-content
									h3.article-title=title
									span.article-date=date
									p.article-excerpt=desc
									a.read-more(href="#") читати далі

						.slider#slider-news
							// Swiper 
							.swiper-container
								// Add Pagination 
								.filter-buttons
									//- .filter-item.slide-1.active зарядись
									//- .filter-item.slide-2 освіжись
									//- .filter-item.slide-3 носолодись
									//- .filter-item.slide-4 оздоровись
								// Swiper Slides 
								.swiper-wrapper

									.swiper-slide
										+news(
											'Як ми робим Jaffa?',
											'Як ми робим Jaffa?Як ми робим Jaffa?Як ми робим Jaffa?Як ми робим Jaffa?Як ми робим Jaffa?Як ми робим Jaffa?Як ми робим Jaffa?Як ми робим Jaffa?',
											'23/07/18',
											'e03c77961c33a7a2d9853d6adebe947f.jpg')
									.swiper-slide
										+news(
											'Рецепт детокс коктейля для легкого дня',
											'Як ми робим Jaffa?Як ми робим Jaffa?Як ми робим Jaffa?Як ми робим Jaffa?Як ми робим Jaffa?',
											'23/07/18',
											'7dea200160ea98188b36fea8f97b189a.jpg')
									.swiper-slide
										+news(
											'Які фрукти та ягоди допоможуть при детоксі',
											'Як ми робим Jaffa?Як ми робим Jaffa?Як ми робим Jaffa?Як ми робим Jaffa?Як ми робим Jaffa?',
											'23/07/18',
											'6ec0b6f1a97ff5fb74a01cd05565510d.png')

				section.section.section-gallery
					.section-header
						.container
							h2.section-title Follow us
							a.instagram-link(href="#")
								i.icon--instagram
									<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M19.7207 0H6.57373C2.94287 0 0 2.9585 0 6.6084V19.8257C0 23.4751 2.94287 26.4341 6.57373 26.4341H19.7207C23.3511 26.4341 26.2939 23.4751 26.2939 19.8257V6.6084C26.2939 2.9585 23.3511 0 19.7207 0ZM20.46 5.81494C20.46 6.57422 19.8491 7.18945 19.0957 7.18945C18.3428 7.18945 17.7319 6.57422 17.7319 5.81494C17.7319 5.05566 18.3428 4.44043 19.0957 4.44043C19.8491 4.44043 20.46 5.05566 20.46 5.81494ZM17.8716 15.5942C18.3809 14.6074 18.5679 13.4839 18.4058 12.3838C18.2402 11.2617 17.7202 10.2231 16.9224 9.4209C16.1245 8.61914 15.0913 8.09619 13.9751 7.92969C12.8809 7.7666 11.7632 7.95459 10.7817 8.4668C9.7998 8.979 9.00342 9.78906 8.50635 10.7827C8.00879 11.7759 7.83594 12.9014 8.01172 13.9995C8.1875 15.0972 8.70312 16.1113 9.48486 16.8979C10.2671 17.6841 11.2759 18.2021 12.3682 18.3789C13.4604 18.5557 14.5801 18.3818 15.5679 17.8818C16.5562 17.3818 17.3623 16.5815 17.8716 15.5942Z" fill="#F4C92F"/>
									</svg>
								span @jaffaukraine
					.section-body
						.container
							.image-gallery

								mixin galleryItem(imgName)

									- var path = 'images/media/gallery/'

									.gallery-item(style="background-image: url(" + path + imgName + ");")
										img.gallery-item-placeholder(src="images/theme/placeholder-gallery.png")
								
								each val in ['d43fb5e22ecc1240ef493934cece48d4.jpg', 'e03c77961c33a7a2d9853d6adebe947f.jpg', 'a75708d04e5950c7b4dc935b4115c4d1.jpg', '64edea765a2904b0c5325322652bb57f.jpg', 'e03c77961c33a7a2d9853d6adebe947f.jpg', 'd43fb5e22ecc1240ef493934cece48d4.jpg', '235aa570f2fcc91ad932f654d3696d33.jpg', '68439d628c5bee444d1508a403ef48c0.jpg', '2dd57ff5f52f6b4523bc420422323939.png', '7dea200160ea98188b36fea8f97b189a.jpg', '68439d628c5bee444d1508a403ef48c0.jpg', '235aa570f2fcc91ad932f654d3696d33.jpg']
								
									+galleryItem(val)

			footer.footer
				.container
					.grid
						.column
							nav.footer-menu
								a.footer-menu-link(href="#") Продукти
								a.footer-menu-link(href="#") Рецепти
								a.footer-menu-link(href="#") Новини
							nav.footer-menu
								a.footer-menu-link(href="#") О компанії
								a.footer-menu-link(href="#") Faq
								a.footer-menu-link(href="#") Контакти
							nav.social
								a.social-link(href="")
									i.social-icon
										<svg class="icon--instagram" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M19.7207 0H6.57373C2.94287 0 0 2.9585 0 6.6084V19.8257C0 23.4751 2.94287 26.4341 6.57373 26.4341H19.7207C23.3511 26.4341 26.2939 23.4751 26.2939 19.8257V6.6084C26.2939 2.9585 23.3511 0 19.7207 0ZM20.46 5.81494C20.46 6.57422 19.8491 7.18945 19.0957 7.18945C18.3428 7.18945 17.7319 6.57422 17.7319 5.81494C17.7319 5.05566 18.3428 4.44043 19.0957 4.44043C19.8491 4.44043 20.46 5.05566 20.46 5.81494ZM17.8716 15.5942C18.3809 14.6074 18.5679 13.4839 18.4058 12.3838C18.2402 11.2617 17.7202 10.2231 16.9224 9.4209C16.1245 8.61914 15.0913 8.09619 13.9751 7.92969C12.8809 7.7666 11.7632 7.95459 10.7817 8.4668C9.7998 8.979 9.00342 9.78906 8.50635 10.7827C8.00879 11.7759 7.83594 12.9014 8.01172 13.9995C8.1875 15.0972 8.70312 16.1113 9.48486 16.8979C10.2671 17.6841 11.2759 18.2021 12.3682 18.3789C13.4604 18.5557 14.5801 18.3818 15.5679 17.8818C16.5562 17.3818 17.3623 16.5815 17.8716 15.5942Z" fill="#DCDCDC"/>
										</svg>
								a.social-link(href="")
									i.social-icon
										<svg class="icon--twitter" width="33" height="27" viewBox="0 0 33 27" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M32.6791 0.0147204C31.2567 1.00354 29.6817 1.75984 28.0149 2.25447C27.1203 1.24074 25.9314 0.522239 24.6089 0.196135C23.2865 -0.12997 21.8943 -0.0479404 20.6206 0.431129C19.347 0.910197 18.2534 1.76319 17.4878 2.87474C16.7221 3.9863 16.3213 5.30278 16.3396 6.64614V8.11003C13.7291 8.17673 11.1425 7.60617 8.81001 6.44916C6.47751 5.29216 4.47157 3.58461 2.97083 1.47861C2.97083 1.47861 -2.97083 14.6536 10.3979 20.5092C7.33873 22.5556 3.69446 23.5818 0 23.4369C13.3687 30.7564 29.7083 23.4369 29.7083 6.60222C29.7069 6.19446 29.6671 5.7877 29.5895 5.38719C31.1055 3.91378 32.1753 2.0535 32.6791 0.0147204Z" fill="#DCDCDC"/>
										</svg>
								a.social-link(href="")
									i.social-icon
										<svg class="icon--facebook" width="20" height="31" viewBox="0 0 18 31" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M17.2492 0H12.5449C10.4655 0 8.47118 0.816516 7.00079 2.26992C5.5304 3.72333 4.70434 5.69457 4.70434 7.75V12.4H0V18.6H4.70434V31H10.9768V18.6H15.6811L17.2492 12.4H10.9768V7.75C10.9768 7.33891 11.142 6.94467 11.4361 6.65399C11.7302 6.3633 12.129 6.2 12.5449 6.2H17.2492V0Z" fill="#DCDCDC"/>
										</svg>
						.column
							.footer-logo
								a.logo-link(href="#")
									img.logo-image(src="images/theme/logo.svg?v.1" alt="Jaffa Logo")
							.contact-us
								span.lead-text З приводу питань
								span.telegram-widget
									a.telegram-link(href="tg://")
										i.icon--telegram
											<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M31 1L14.5 17.5" stroke="#C8C8C8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M31 1L20.5 31L14.5 17.5L1 11.5L31 1Z" stroke="#C8C8C8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										span.text Messenge me



		.background-layer
			svg.shape(viewBox="0 0 1920 1913" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M1920 0H0.00683594V1026.49L0 1026.51V1498.99C93.8057 1740.75 327.348 1912 600.602 1912C836 1922 1080 1768 1136 1594C1157.39 1527.54 1168.12 1473.91 1177.62 1426.44C1192.98 1349.63 1205.13 1288.93 1254 1216C1333.08 1098 1522.03 886.923 1915.31 916.712C1916.88 916.831 1918.45 916.948 1920 917.061V0Z" fill="#F4C92F")

		.preload-layer.visible#preloader
			#loader

		// JS scripts 
		script(src="libraries/wow.js/wow.min.js")
		script(src="libraries/swiper-4.5.0/swiper.min.js")
		script(src="js/script.js")